.Header {
    position: relative;
    text-align: center;
    width: 1080px;
    height: 75px;
    background-color: red;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}
